/* ===============================
   Header i tło strony
================================= */
#header {
    background: rgb(255, 255, 255) !important;
}

#wrapper,
#content-wrapper,
#main,
section {
    background: #ffffff !important;
}

/* ===============================
   Header nav
================================= */
#header .header-nav {
    min-height: 90px;
}

.header-nav .row.hidden-sm-down {
    display: flex;
    align-items: center;
    /* wyrównanie w pionie */
    justify-content: space-between;
    /* logo | search | header-right */
}

/* Logo */
#_desktop_logo img {
    max-height: 100px;
    /* dopasowanie do reszty elementów */
    width: auto;
}

/* Pasek wyszukiwania */
#desktop_searchbar {
    flex: 0 0 200px;
    /* węższy pasek wyszukiwania */
    position: relative;
    margin-left: 30px;
}

/* Wrapper inputa */
#desktop_searchbar .search-wrapper {
    width: 75%;
}

/* Input */
#desktop_searchbar input {
    width: 75%;
    padding: 10px 12px 10px 40px;
    font-size: 14px;
    box-sizing: border-box;
    border: 1px solid #aba8a8;
    background-color: #ffffff;
    height: 42px;
    /* dopasowanie wysokości do headera */
}

/* Lupka po lewej */
#desktop_searchbar .search-icon {
    position: absolute;
    left: 440px;
    /* stała odległość od lewej */
    top: 50%;
    transform: translateY(-50%);
    color: #aba8a8;
    font-size: 18px;
    pointer-events: none;
}

/* Prawa część headera (logowanie / koszyk) */
.header-right {

    margin: auto;
    gap: 5px;
    display: flex;
    justify-content: center;

}

/* ===============================
   Header top
================================= */
header .header-top {
    background: #011638 !important;
    min-height: 20px;
}

/* ===============================
   Navigation menu items
================================= */
.header-nav .col-md-7.right-nav {

    padding-top: 10px;
}

#_desktop_top_menu ul.top-menu li.category {
    display: inline-flex;
    align-items: center;
    height: 20px;
}

/* Mniejsze napisy + mniejsze odstępy */
#_desktop_top_menu ul.top-menu li.category a.dropdown-item {
    color: #ffffff !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    /* mniejsza czcionka */
    font-weight: 600;

    display: flex;
    align-items: center;

    padding: 10px 20px;
    /* mniejsze odstępy = więcej miejsca */
    height: 15px;

    background-color: #011638;
    text-decoration: none;
}

#_desktop_top_menu ul.top-menu li.category a.dropdown-item:hover {
    background-color: #023366;
    /* tylko zmiana tła */

    color: #ffffff;
    /* zachowanie koloru tekstu */
    text-decoration: none;
    /* brak podkreślenia */
}


/* Szerokość submenu */
#_desktop_top_menu .sub-menu {
    width: 260px !important;
}

/* ===============================
   Products grid
================================= */
.products.row {
    display: flex;
    flex-wrap: nowrap;
    background: white;
    gap: 15px;
}

.products .product {
    width: calc(100% / 6);
    max-width: calc(100% / 6);
    background: white;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 420px;
}

.product-flags {
    display: none !important;
}

.product-miniature {
    display: flex;
    flex-direction: column;
}

.product-miniature .thumbnail-top {
    order: 1;
}

.product-miniature .product-description {
    order: 2;
}

.product-miniature .highlighted-informations {
    order: 3 !important;
    position: static !important;
    margin-top: 10px;
}

.product-miniature .thumbnail-container:hover .highlighted-informations {
    opacity: 1 !important;
    text-decoration: none;
}

.all-product-link {
    display: none !important;
}

.footer-image img {
    width: 100%;
    /* dopasowanie do kontenera */
    max-width: 1400px;
    /* większa maksymalna szerokość niż 600px */
    height: auto;
    /* zachowanie proporcji */
    display: block;
    margin: 20px auto;
    /* wyśrodkowanie i odstęp od góry/dół */
}