<<<<<<< HEAD
// Lime 9
// -------------------------

$lime:               	#b8e62e !default;
$limeDark:            	#7a991f !default;
$limeDarker:          	#3d4c0f !default;
$limeLight:           	#d6ff5c !default;
$limeLighter:         	#e0ff85 !default;
$limeDull:           	#a6c44b !default;
$limeDuller:         	#94a856 !default;
$limeBright:         	#bfff00 !default;
$limeBrighter:        	#d7ff5e !default;
=======
// Lime 9
// -------------------------

$lime:               	#b8e62e !default;
$limeDark:            	#7a991f !default;
$limeDarker:          	#3d4c0f !default;
$limeLight:           	#d6ff5c !default;
$limeLighter:         	#e0ff85 !default;
$limeDull:           	#a6c44b !default;
$limeDuller:         	#94a856 !default;
$limeBright:         	#bfff00 !default;
$limeBrighter:        	#d7ff5e !default;
>>>>>>> fdba62e4347ae382c8190f7f402d1ade3542b675
