<<<<<<< HEAD
// Turquoise 9
// -------------------------

$turquoise:             #48e8c8 !default;
$turquoiseDark:         #00997a !default;
$turquoiseDarker:       #006652 !default;
$turquoiseLight:        #6be8cf !default;
$turquoiseLighter:      #8ee8d6 !default;
$turquoiseDull:         #52ccb4 !default;
$turquoiseDuller:       #69b8a8 !default;
$turquoiseBright:       #0fc !default;
$turquoiseBrighter:     #80ffe6 !default;

// * * * Premium * * *
// -------------------------


//Dulux 3

$turquoiseTeal:   		 #01969c !default;
$turquoiseDawn:   		 #35afba !default;
$turquoiseCrystal:   	 #2ba8a8 !default;
=======
// Turquoise 9
// -------------------------

$turquoise:             #48e8c8 !default;
$turquoiseDark:         #00997a !default;
$turquoiseDarker:       #006652 !default;
$turquoiseLight:        #6be8cf !default;
$turquoiseLighter:      #8ee8d6 !default;
$turquoiseDull:         #52ccb4 !default;
$turquoiseDuller:       #69b8a8 !default;
$turquoiseBright:       #0fc !default;
$turquoiseBrighter:     #80ffe6 !default;

// * * * Premium * * *
// -------------------------


//Dulux 3

$turquoiseTeal:   		 #01969c !default;
$turquoiseDawn:   		 #35afba !default;
$turquoiseCrystal:   	 #2ba8a8 !default;
>>>>>>> fdba62e4347ae382c8190f7f402d1ade3542b675
