version: '3.8'

services:
  prestashop:
    image: bi4ally/belektroniczny
    ports:
      - target: 443
        published: 19290
        protocol: tcp
        mode: host
    environment:
      - PS_DEV_MODE=1
      - DB_SERVER=admin-mysql_db
      - DB_NAME=BE_192914
      - DB_USER=root
      - DB_PASSWD=student
   
    command: /bin/bash -c "a2enmod ssl && apache2-foreground"
    deploy:
      resources:
        limits:
          cpus: "2.0"
          memory: 2.0G
        reservations:
          cpus: "1.0"
          memory: 1.0G
      placement:
        constraints:
         
          - node.hostname == student-swarm01
    networks:
      - prestashop_default
      - admin-mysql_default

networks:
  prestashop_default:
  admin-mysql_default:
    external: true
